.packages{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 20px; /* Adjust the gap between packages */
    padding: 30px;
    justify-content: space-around;
}

.package{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    border: 4px solid transparent;
    border-radius: 15px;
    padding: 10px;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.package img{
    height: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description span{
    display: block;
    justify-content: center;
    margin-bottom: 10px;
}

.Bali:hover{
    box-shadow: 0 12px 24px rgba(253, 0, 0, 0.9);
    transform: scale(1.02);
}
.Thailand:hover{
    box-shadow: 0 12px 24px rgba(255, 165, 0, 0.9);
    transform: scale(1.02);
}
.Asia:hover{
    box-shadow: 0 12px 24px rgba(173, 255, 0, 0.9);
    transform: scale(1.02);
}
.Italy:hover{
    box-shadow: 0 12px 24px rgba(165, 42, 42, 0.9);
    transform: scale(1.02);
}
.Egypt:hover{
    box-shadow: 0 12px 24px rgba(100, 149, 237, 0.9);
    transform: scale(1.02);
}
.Jamaica:hover{
    box-shadow: 0 12px 24px rgba(210, 105, 30, 0.9);
    transform: scale(1.02);
}
.Switzerland:hover{
    box-shadow: 0 12px 24px rgba(102, 51, 153, 0.9);
    transform: scale(1.02);
}
.Europe:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.9);
    transform: scale(1.02);
}